.pointer-events-none {
	pointer-events: none;
}

// ---------------------------------------------------------------------- //

.signup {
    @media all and (min-width: 768px) {
        padding: 115px 75px 75px !important;
    }
    padding-top: 115px;
}

.signup img {
	max-width: 100%;
}

.video {
    @media all and (min-width: 768px) {
        padding: 30px 75px !important;
    }
	margin-bottom: 150px;
}

.video img {
	max-width: 100%;
}

.video .rounded {
	overflow: hidden;
}

.video__wrapper {
	position: relative;
}

.video__background {
	width: 60px;
	height: 38px;
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transition: .1s;
	transition: .1s;
	background: rgba(84, 187, 255, .76);
	-webkit-transform: translateX(-50%) translateY(-50%);
	transform: translateX(-50%) translateY(-50%);
	z-index: 5;
}

.video__play {
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translateX(-50%) translateY(-50%);
	transform: translateX(-50%) translateY(-50%);
	z-index: 5;
	font-size: 0;
}

.video__player:hover {
	cursor: pointer;
}

.video__player:hover .video__background {
	width: 100%;
	height: 100%;
}

.how-it-works img {
	max-width: 100%;
}

@media all and (min-width: 768px) {
    .how-it-works__items {
        padding: 30px 75px 150px;
    }
    .how-it-works__item:nth-child(3n + 2) {
        margin-left: 90px;
    }

    .how-it-works__item:nth-child(3n + 3) {
        margin-left: 180px;
    }
}

.how-it-works__item:not(:last-child) {
	margin-bottom: 65px;
}

.how-it-works__image {
	width: 300px;
}

.how-it-works__text {
	width: 400px;
}

.features {
    @media all and (min-width: 992px) {
        padding: 30px 75px 120px;
    }
}

.features img {
	max-width: 100%;
}

.features__title {
	padding-bottom: 40px;
}

.features__image {
	margin-bottom: 60px;
}

.features__items {
	margin-bottom: 40px;
}

@media all and (min-width: 992px) {
    .features__item:nth-child(n + 4) {
        margin-top: 60px;
    }
}

.features__item--title {
	margin-bottom: 10px;
}

@media all and (min-width: 992px) {
    .users {
        padding: 30px 75px 120px;
    }
}

.users img {
	max-width: 100%;
}

.users__title {
	margin-bottom: 10px;
}

.users__count {
	margin: 60px 0;
}

.users__count--main {
	font-size: 9.083333vw;
	display: block;
}

.get_started {
	padding: 30px 75px 120px;
}

.get_started__first {
	padding-top: 95px;
}

.get_started__first .get_started {
	padding-bottom: 20px;
}

.language {
	padding: 30px 0 0;
}

.footer__title {
	padding: 1rem 0;
}

.footer .nav-item .nav-link {
	padding: 5px 0;
	line-height: 1;
}

.footer__bottom {
	margin-top: 30px;
}

.footer__bottom--wrap {
	width: 100%;
}

.footer__bottom--copyright {
	width: 12.5%;
	max-width: 250px;
	margin-right: 30px;
	line-height: 1.2;
}

.footer__bottom--text {
	line-height: 1;
	width: 50%;
}

.footer__bottom--social {
	font-size: 0;
	display: block;
}

.footer__bottom--social:not(:last-child) {
	margin-right: 13px;
}

.greeting {
	padding: 115px 0 75px;
}

.greeting img {
	max-width: 100%;
}

.greeting__image,
.greeting__title {
	margin-bottom: 30px;
}

.types img {
	max-width: 100%;
}

.types__item:not(:last-child) {
	margin-bottom: 30px;
}

.types__top {
	margin-bottom: 10px;
}

.types__top i {
	font-size: 0;
}

.ownership {
	padding: 115px 0 75px;
}

.ownership img {
	max-width: 100%;
}

.ownership__title {
	padding-bottom: 30px;
}

.ownership__top {
	margin-bottom: 10px;
}

.workflow {
	padding: 115px 0 75px;
}

.workflow img {
	max-width: 100%;
}

.workflow__title {
	padding-bottom: 40px;
}

.workflow__item {
	margin-bottom: 30px;
}

.workflow__top {
	margin-bottom: 10px;
}

.workflow__description--title {
	margin-bottom: 10px;
}

.greeting__calendars,
.greeting__title,
.ownership,
.platforms,
.types,
.workflow {
	max-width: 810px;
	margin: 0 auto;
}

.workflow__description {
	max-width: 540px;
	margin: 0 auto;
}

.platforms {
	padding: 30px 0 75px;
}

.platforms img {
	max-width: 100%;
}

.platforms__item:nth-child(n+4) {
	margin-top: 50px;
}

.platforms__title {
	padding-bottom: 40px;
}

.platforms__item--image {
	margin-bottom: 10px;
}

.platforms__item--title {
	margin-bottom: 10px;
	min-height: 44px;
	display: block;
}

@-webkit-keyframes bounce {
	0% {
		-webkit-transform: translateY(0);
		transform: translateY(0);
	}

	33% {
		-webkit-transform: translateY(3px);
		transform: translateY(3px);
	}

	75% {
		-webkit-transform: translateY(-3px);
		transform: translateY(-3px);
	}
}

@keyframes bounce {
	0% {
		-webkit-transform: translateY(0);
		transform: translateY(0);
	}

	33% {
		-webkit-transform: translateY(3px);
		transform: translateY(3px);
	}

	75% {
		-webkit-transform: translateY(-3px);
		transform: translateY(-3px);
	}
}

.login_page {
	height: 100vh;
}

.login_page__logo {
	margin-bottom: 30px;
}

.login_page__account,
.login_page__language {
	margin-top: 30px;
}

.signup_page {
	height: 100vh;
}

.signup_page__logo {
	margin-bottom: 30px;
}

.signup_page__account,
.signup_page__language {
	margin-top: 30px;
}

.team_scheduling {
	padding: 30px 75px 120px;
}

.team_scheduling img {
	max-width: 100%;
}

.team_scheduling__image {
	max-width: 60%;
	margin: 0 auto 10px;
}

.team_scheduling__text {
	margin-top: 10px;
}

.team_form {
	padding: 30px 95px 120px;
}

.team_form img {
	max-width: 100%;
}

.team_form__subtitle {
	margin-bottom: 40px;
	margin-top: 20px;
}

.plans {
	padding: 60px 0 120px;
}

.plans img {
	max-width: 100%;
}

.plans__subtitle {
	margin-bottom: 40px;
	margin-top: 20px;
}

.plans__price:before {
	content: '0$ ';
	font-size: 20px;
	font-weight: 700;
	color: #000000;
}

.plans__price:after {
	content: 'USD';
	font-size: 10px;
	font-weight: 700;
	color: #000000;
}

.plans__question {
	cursor: pointer;
	min-width: 15px;
	max-width: 15px;
	line-height: 15px;
	height: 15px;
	font-size: 12px;
	text-align: center;
	border-radius: 50%;
	display: block;
}

.quote {
	padding: 100px 0 120px;
	max-width: 720px;
	width: 100%;
	margin: 0 auto;
}

.quote img {
	max-width: 100%;
}

.quote__top {
	font-size: 80px;
	line-height: 1;
}

.admin_main .nav-item {
	overflow: hidden;
}

.admin_main__my-book {
	max-width: 300px;
}

.admin_main__events:not(.show) {
	height: 0;
}

.admin_main__left {
	width: 40px;
	height: 40px;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	background: #cccccc;
	color: #ffffff;
	font-size: 0;
}
.admin_main__name button:not(.btn-no-opacity), .dashboard-booking-type-item:not(.btn-no-opacity) button {
    transition: all .3s ease;
    opacity: .2;
    &:hover {
        opacity: .5;
    }
}
.booking-type-options {
	background: transparent;
}
.booking-type-options:hover {
	background: rgba(0, 0, 0, .1);
}

.help_form {
	position: fixed;
	z-index: 10000;
	right: 20px;
	bottom: 20px;
}

.help_form__main {
	width: 400px;
	height: 80vh;
	overflow: hidden;
}

.btn.is-color {
	width: 28px;
	height: 28px;

	&.active::before {
		content: '\2713';
		color: #ffffff;
	}
}

.chat {
    left: 0px;
    bottom: 0;
    top: 0;
    z-index: 10;
    background: #fff;
    transform: translateX(-100%);
    transition: all .3s ease;

    &.opened {
        transform: translateX(0);
    }
}

.participants {
    right: 0;
    bottom: 0;
    top: 0;
    z-index: 10;
    background: #fff;
    transform: translateX(100%);
    transition: all .3s ease;

    &.opened {
        transform: translateX(0);
    }
}

.videos_wrap {
    transition: all .3s ease;
}

.dialog-item {
    width: calc(100% / 4);
    height: calc(100% / 3);
    box-sizing: border-box;
}

.dropdown-menu.show {
    z-index: 10000000000;
}

//

.chat {
    left: 0px;
    bottom: 0;
    top: 0;
    z-index: 10;
    background: #fff;
    transform: translateX(-100%);
    transition: all .3s ease;

    &.opened {
        transform: translateX(0);
    }
}

.participants {
    right: 0;
    bottom: 0;
    top: 0;
    z-index: 10;
    background: #fff;
    transform: translateX(100%);
    transition: all .3s ease;

    &.opened {
        transform: translateX(0);
    }
}

.videos_wrap {
    transition: all .3s ease;
}

.dialog-item {
    width: calc(100% / 4);
    height: calc(100% / 3);
    box-sizing: border-box;
}

.dropdown-menu.show {
    z-index: 10000000000;
}

.switch {
    font-size: 1rem;
    position: relative;
}

.switch input {
    position: absolute;
    height: 1px;
    width: 1px;
    background: none;
    border: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    overflow: hidden;
    padding: 0;
}

.switch input+label {
    position: relative;
    min-width: calc(calc(2.375rem * .8) * 2);
    border-radius: calc(2.375rem * .8);
    height: calc(2.375rem * .8);
    line-height: calc(2.375rem * .8);
    display: inline-block;
    cursor: pointer;
    outline: none;
    user-select: none;
    vertical-align: middle;
    text-indent: calc(calc(calc(2.375rem * .8) * 2) + .5rem);
}

.switch input+label::before,
.switch input+label::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: calc(calc(2.375rem * .8) * 2);
    bottom: 0;
    display: block;
}

.switch input+label::before {
    right: 0;
    background-color: #dee2e6;
    border-radius: calc(2.375rem * .8);
    transition: 0.2s all;
}

.switch input+label::after {
    top: 2px;
    left: 2px;
    width: calc(calc(2.375rem * .8) - calc(2px * 2));
    height: calc(calc(2.375rem * .8) - calc(2px * 2));
    border-radius: 50%;
    background-color: white;
    transition: 0.2s all;
}

.switch input:checked+label::before {
    background-color: var(--success);
}

.switch input:checked+label::after {
    margin-left: calc(2.375rem * .8);
}

.switch input:focus+label::before {
    outline: none;
    box-shadow: 0 0 0 0.2rem rgba(var(--success), 0.25);
}

.switch input:disabled+label {
    color: #868e96;
    cursor: not-allowed;
}

.switch input:disabled+label::before {
    background-color: #e9ecef;
}

.switch.switch-primary input:checked+label::before {
    background-color: var(--primary);
    box-shadow: none;
}

.switch.switch-primary input:focus+label::before {
    box-shadow: none;
}

.switch.switch-sm {
    font-size: 0.875rem;
}

.switch.switch-sm input+label {
    min-width: calc(calc(1.9375rem * .8) * 2);
    height: calc(1.9375rem * .8);
    line-height: calc(1.9375rem * .8);
    text-indent: calc(calc(calc(1.9375rem * .8) * 2) + .5rem);
}

.switch.switch-sm input+label::before {
    width: calc(calc(1.9375rem * .8) * 2);
}

.switch.switch-sm input+label::after {
    width: calc(calc(1.9375rem * .8) - calc(2px * 2));
    height: calc(calc(1.9375rem * .8) - calc(2px * 2));
}

.switch.switch-sm input:checked+label::after {
    margin-left: calc(1.9375rem * .8);
}

.switch.switch-lg {
    font-size: 1.25rem;
}

.switch.switch-lg input+label {
    min-width: calc(calc(3rem * .8) * 2);
    height: calc(3rem * .8);
    line-height: calc(3rem * .8);
    text-indent: calc(calc(calc(3rem * .8) * 2) + .5rem);
}

.switch.switch-lg input+label::before {
    width: calc(calc(3rem * .8) * 2);
}

.switch.switch-lg input+label::after {
    width: calc(calc(3rem * .8) - calc(2px * 2));
    height: calc(calc(3rem * .8) - calc(2px * 2));
}

.switch.switch-lg input:checked+label::after {
    margin-left: calc(3rem * .8);
}

.switch+.switch {
    margin-left: 1rem;
}


.square-box {
    padding-bottom: 100%;
    position: relative;
    &-in {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}

/* width */
* ::-webkit-scrollbar {
    width: 6px;
}

/* Track */
* ::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
* ::-webkit-scrollbar-thumb {
    background: #888;
}

/* Handle on hover */
* ::-webkit-scrollbar-thumb:hover {
    background: #555;
}


.slide-enter-active {
	-moz-transition-duration: 0.3s;
	-webkit-transition-duration: 0.3s;
	-o-transition-duration: 0.3s;
	transition-duration: 0.3s;
	-moz-transition-timing-function: ease-in;
	-webkit-transition-timing-function: ease-in;
	-o-transition-timing-function: ease-in;
	transition-timing-function: ease-in;
}

.slide-leave-active {
	-moz-transition-duration: 0.3s;
	-webkit-transition-duration: 0.3s;
	-o-transition-duration: 0.3s;
	transition-duration: 0.3s;
	-moz-transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
	-webkit-transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
	-o-transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
	transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
}

.slide-enter-to, .slide-leave {
	max-height: 100px;
	overflow: hidden;
}

.slide-enter, .slide-leave-to {
	overflow: hidden;
	max-height: 0;
}
